<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}} Checkout</title>

        <link rel="stylesheet" href="/css/app.css">

        <script
                src="http://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous">
        </script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        {{> headerNav}}

        <div class="container">
            <div class="content">

                <h2>Checkout</h2>

                <div class="two-column">
                    <article>

                        <div class="outlined">

                            <table class="order-items" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <img src="/img/spaceboots.png" alt="Order Item" height="84" width="84">
                                    </td>
                                    <td>
                                        <h2>Space Boots</h2>
                                        <h3>$ {{orderTotalDisplay}}</h3>
                                    </td>
                                </tr>
                            </table>

                            <div>
                                <input type="checkbox" id="use-acc-cred-checkbox" checked>
                                <label class="use-acc-cred-label" for="use-acc-cred-checkbox">Use Account Credit</label>
                            </div>

                            <table class="order" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>Account Balance</td>
                                    <td>
                                        <span id="lightrail-share"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Item Total</td>
                                    <td>$ {{orderTotalDisplay}}</td>
                                </tr>
                                <tr>
                                    <td>Amount Owed</td>
                                    <td><span id="stripe-share"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <td>Total</td>
                                    <td>
                                        <span id="order-total">$ {{orderTotalDisplay}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <form action="rest/charge" method="post" id="payment-form">
                                            <div class="form-row" id="card-element-container">
                                                <label for="card-element"></label>
                                                <div id="card-element"></div>
                                                <div id="card-errors" role="alert"></div>
                                            </div>
                                            <input id="lightrail-amount" name="lightrail-amount" type="hidden"/>
                                            <div id="lightrail-errors" role="alert"></div>
                                            <button class="button full-width dark">Pay <span id="stripe-share-button"></span></button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </article>
                    <article>
                        <h3 class="subheadline">Note</h3>
                        {{> instructions}}
                        <!--<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>-->
                        <!--<h3 class="subheadline">Note</h3>-->
                        <!--<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>-->
                        <!--<h3 class="subheadline">Note</h3>-->
                        <!--<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>-->
                    </article>
                </div>
            </div>
        </div>

        <script type="application/javascript">
            var total = +"{{orderTotal}}";

            function simulate() {
                var transaction = {
                    shopperId: "{{shopperId}}",
                    currency: "{{currency}}",
                    amount: total
                };
                console.log(JSON.stringify(transaction));
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "rest/simulate",
                    data: JSON.stringify(transaction),
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    success: function (transactionPlan) {
                        console.log(JSON.stringify(transactionPlan));
                        $("#lightrail-errors").html("");
                        var lightrailShare = 0;
                        if (transactionPlan) {
                            lightrailShare = 0 - transactionPlan.value;
                        }
                        updateSplitPoint(lightrailShare);
                        var stripeShare = total - lightrailShare;
                        if (stripeShare === 0) {
                            $("#card-element-container").hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        $("#lightrail-errors").html(xhr.responseText);
                    }
                });
            }

            function updateSplitPoint(lightrailShare) {
                stripeShare = total - lightrailShare;
                $("#lightrail-share").html("$ " + (lightrailShare / 100).toFixed(2));
                $("#lightrail-amount").val(lightrailShare);
                $("#stripe-share").html("$ " + (stripeShare / 100).toFixed(2));
                $("#stripe-share-button").html("$ " + (stripeShare / 100).toFixed(2));
            }

            function enableStripe() {
                // Create a Stripe client
                var stripe = Stripe("{{stripePublicKey}}");

                // Create an instance of Elements
                var elements = stripe.elements();

                // Custom styling can be passed to options when creating an Element.
                // (Note that this demo uses a wider set of styles than the guide below.)
                var style = {
                    base: {
                        color: "#32325d",
                        lineHeight: "24px",
                        fontFamily: "'Helvetica Neue', Helvetica, sans-serif",
                        fontSmoothing: "antialiased",
                        fontSize: "16px",
                        "::placeholder": {
                            color: "#aab7c4"
                        }
                    },
                    invalid: {
                        color: "#fa755a",
                        iconColor: "#fa755a"
                    }
                };

                // Create an instance of the card Element
                var card = elements.create("card", {style: style});

                // Add an instance of the card Element into the `card-element` <div>
                card.mount("#card-element");

                // Handle real-time validation errors from the card Element.
                card.addEventListener("change", function (event) {
                    var displayError = document.getElementById("card-errors");
                    if (event.error) {
                        displayError.textContent = event.error.message;
                    } else {
                        displayError.textContent = "";
                    }
                });

                // Handle form submission
                var form = document.getElementById("payment-form");
                form.addEventListener("submit", function (event) {
                    event.preventDefault();
                    if (total - parseInt($("#lightrail-amount").val()) > 0) {
                        stripe.createToken(card).then(function (result) {
                            if (result.error) {
                                // Inform the user if there was an error
                                var errorElement = document.getElementById("card-errors");
                                errorElement.textContent = result.error.message;
                            } else {
                                // Send the token to your server
                                stripeTokenHandler(result.token);
                            }
                        });
                    } else {
                        $("#payment-form").submit();
                    }
                });
            }

            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById("payment-form");
                var hiddenInput = document.createElement("input");
                hiddenInput.setAttribute("type", "hidden");
                hiddenInput.setAttribute("name", "source");
                hiddenInput.setAttribute("value", token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }

            $('#use-acc-cred-checkbox').change(function () {
                if (this.checked) {
                    simulate();
                } else {
                    updateSplitPoint(0);
                }
                $('#textbox1').val(this.checked);
            });

            $(document).ready(function () {
                simulate();
                enableStripe();
            });
        </script>
    </body>
</html>
