<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- TEMP -->
 <style>
        a{
            color:white;
            margin-right: 16px;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
    <!-- TEMP -->
    <title>{{title}} Redeem Gift Cards</title>
</head>
<body>
    <div style="display:flex; flex-flow:row-reverse; align-items:center; height: 120px; background-color:lightslategrey; font-size:18px; color:white; font-family:sans-serif; margin-bottom: 32px;">
        <a href="checkout">Checkout</a>    
        <a href="redeem">Redeem</a>
        <a href="buyCards">Buy Cards</a> 
        <a href="manageAccount">Manage Account</a>
        <a style="margin:0 auto 0 16px" href="/">Rocketship INC</a>
    </div>
    <div>
        <script
            src="https://embed.lightraildev.net/dropin/codeRedemption.js"
            data-shoppertoken="{{shopperToken}}"
            data-fullcode="{{code}}"
        ></script>
    </div>
</body>
</html>